Repository garvbox-net/infra-ng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, ansible-lint

ruff:
  name: Ruff
  entry: poetry run ruff check
  language: system

black:
  name: Black
  entry: poetry run black --check
  language: system

ansible-lint:
  name: Ansible Lint
  entry: poetry run ansible-lint
  language: system

Add telegraf ZFS stats
  ansible/hosts_deltasite
  ansible/roles/telegraf/handlers/main.yml
  ansible/roles/telegraf/templates/telegraf.conf.j2
Due: ansible-lint

Add defaults for telegraf zfs monitoring
  ansible/group_vars/alphasite/vars.yml
  ansible/roles/telegraf/defaults/main.yml
Due: ansible-lint

Add esphome to HomeAssistant docker project
  ansible/roles/docker-site/templates/homeassistant.yaml.j2
Due: none

Remove esphome config from vscode editor
  ansible/roles/docker-site/templates/homeassistant.yaml.j2
Due: none

Update nvidia driver versions and list
  docs/kube-k3s.md
Due: none

Correct local and remote standard user setup
  ansible/standard-user-setup-local.yml
  ansible/standard-user-setup.yml
Due: ansible-lint

apply yaml linting recs
  ansible/k3s-deploy.yml
Due: ansible-lint

fix backup file path
  ansible/roles/backups/files/scripts/backup_zfs.py
Due: ruff, black

put gammatron in charge again
  ansible/hosts_gammasite
Due: none

Update homeassistant.yaml.j2
  ansible/roles/docker-site/templates/homeassistant.yaml.j2
Due: none

update git target for teslops
  ansible/hosts_alphasite
Due: none

infra updates gammasite
  ansible/hosts_gammasite
Due: none

Basic Snapshotter protocol
  ansible/roles/backups/files/scripts/backup.py
Due: ruff, black

Add basic ZFS snapshot creation
  ansible/roles/backups/files/scripts/backup.py
Due: ruff, black

Added ZFS Snapshot Pruning
  ansible/roles/backups/files/scripts/backup.py
Due: ruff, black

Add discord notification
  ansible/hosts_gammasite
  ansible/roles/backups/files/scripts/backup.py
Due: ruff, black

Update gammatron backup command
  ansible/hosts_gammasite
Due: none

Poetry updates
  poetry.lock
  pyproject.toml
Due: none

Fix incremental snapshot replication
  ansible/roles/backups/files/scripts/backup.py
Due: ruff, black

Add backup logging
  ansible/hosts_gammasite
Due: none

Update testsite baseline config
  ansible/group_vars/k3s_cluster/vars.yml
  ansible/hosts_testsite
Due: ansible-lint

update deps
  ansible/k3s-deploy.yml
  poetry.lock
  pyproject.toml
Due: ansible-lint

switch testsite to staging branch
  ansible/hosts_testsite
Due: none

Add deltasite config
  ansible/hosts_deltasite
Due: none

Add SOPS key for deltasite and host grouping
  ansible/group_vars/deltasite/vault
  ansible/hosts_deltasite
Due: none

Always install latest flux CLI
  ansible/k3s-deploy.yml
Due: ansible-lint

Remove kraken from deltasite
  ansible/hosts_deltasite
Due: none

Update deps
  poetry.lock
Due: none

Deltapi5 kube cluster
  ansible/hosts_deltasite
Due: none

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  ansible-lint: any of: \.(yaml|yml)$
